* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    background-image: url("./images/email-pattern.png");
}

.header {
    margin-top: 20px;
    font-size: 60px;
    background-color: rgb(230, 230, 230);
    box-shadow: 0 0 10px 2px;
    text-shadow: 2px 2px 5px lightgreen;
}

.intro {
    font-style: italic;
    background-color: rgb(230, 230, 230);

}

.scheduleContent {
    background-color: white;
    border: 5px ridge lightgrey;
    margin-bottom: 15px;
    box-shadow: 0 0 10px 2px;
}

#timeslot, #input, #saveBtn {
    margin: 5px 0px;
}

#timerow {
    border-bottom: 3px solid rgb(145, 140, 140);
}

#inputText {
    width: 100%;
}

#input {
    border: 2px dashed grey;
}

#saveBtn {
    background-color: lightpink;
    border: 2px outset rgb(184, 85, 167);
}

#todaysDate {
    font-weight: bold;
    background-color: rgb(230, 230, 230);
}